{% extends "account/base.html" %}

{% block content %}

{% if PASSWORD_RESET_DONE %}
<h3>密码重置成功，您现在可以<a href="{% url account:login %}">登录</a></h3>
<p>如有疑问请联系管理员： ylinux.admin@gmail.com</p>
{% endif %}

{% if NEW_REQUEST %}

{% if form.errors %}
<p style="color: red;">{{ form.errors }}</p>
{% endif %}

<form action="" method="post">
  <p>密码第一次：<input id="id_password" type="password" name="new_password1" /></p>
  <p>密码第二次：<input id="id_password" type="password" name="new_password2" /></p>
  <input type="submit" value="重置密码" align="right"/>
</form>
{% endif %}

{% endblock %}
