{% extends "account/base.html" %}

{% block content %}

{% if NOT_EXIST_EMAIL %}
<h2> 此邮件未被注册： {{ email }}</h2>
<p>原因： {{ REASON }}</p>
<p>如有疑问请联系管理员： ylinux.admin@gmail.com</p>
{% endif %}

{% if EMAIL_SENT %}
<h2> 重置密码链接已经发送到邮件： {{ email }} </h2>
{% endif %}

{% if NEW_REQUEST %}

{% if form.errors %}
<p style="color: red;">{{ form.errors }}</p>
{% endif %}

<form action="" method="post">
  <p>输入您的Email地址：</p>
  <input id="id_email" type="text" name="email"/>
  <input type="submit" value="重置密码" align="right"/>
</form>
{% endif %}

{% endblock %}
