{% extends "home/base.html" %}

{% block content %}
<p>YLinux 正在开发中, 感谢您的关注，欢迎您的建议或批评！</p>
<p>目前社区使用 Django 开发，项目源码在 github 上，欢迎感兴趣的朋友一起参与进来！</p>
<p>Github 上的项目地址：<a href="http://github.com/jianlee/ylinux/tree/master" target="_blank">http://github.com/jianlee/ylinux/tree/master</a></p>
<pre>git clone git://github.com/jianlee/ylinux.git</pre>

<h2>我们的讨论组:</h2>
<table border=0 style="background-color: #fff; padding: 5px;" cellspacing=0>
  <tr><td> <img src="https://groups.google.com/intl/en/images/logos/groups_logo_sm.gif" height=30 width=140 alt="Google Groups"> </td></tr>
  <tr><td><b>参加 YLinux 讨论组</b></td></tr>
  <form action="https://groups.google.com/group/ylinux?hl=zh-CN/boxsubscribe"><tr><td> 您的 Email : <input type=text name=email> <input type=submit name="sub" value="订阅"></td></tr></form>
  <tr><td><a href="https://groups.google.com/group/ylinux?hl=zh-CN">先看看讨论组</a></td></tr>
</table>
<p>任何问题和建议都可以在这里讨论</p>

{% endblock %}
