<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh" lang="zh">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    {% if theme %}<link rel="stylesheet" href="{{ MEDIA_URL }}home/themes/{{ theme }}/style.css" />{% else %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}home/themes/default/style.css" />{% endif %}
    {% block title %}{% if title %}<title>{{ title }} - YLinux.org</title>{% else %}<title>YLinux.org</title>{% endif %}{% endblock %}
  </head>

  <!-- body 用 container 包容，分4块： header,navigator,content,footer -->  
  <body>
    <div id="container">

      <!-- 开始 header (分2块: logo,account) -->
      <div id="header">
        <div id="logo" class="left">
          <a href="/"><img src="{{ MEDIA_URL }}images/ylinux-logo.gif" alt="YLinux"/></a>
        </div>

        <div id="account" class="right">
          {% if user.is_authenticated %}
          欢迎您，<b>{{ user }}</b> | <a href="/account/logout/">退出</a>
          {% else %}
          <p><a href="/account/login/">登录</a> <a href="/account/register/"><b>注册</b></a></p>
          {% endif %}
        </div>
      </div>
      <!-- 结束 header -->

      <!-- Starting navigator -->
      <div id="navigator">
        <ul>
          <li><a href="/">首页</a></li>
          <li><a href="/coding">新闻</a></li>
          <li><a href="/coding">论坛</a></li>
          <li><a href="/coding">博客</a></li>
          <li><a href="/coding">项目</a></li>
          <li><a href="/coding">知识库</a></li>
        </ul>
      </div>
      <!-- End navigator -->

      <!-- 开始 content -->
      <div id="content">
      {% block content %}{% endblock %}
      </div>
      <!-- 结束 content -->

      <!-- 开始 footer -->
      <div id="footer">
        版权 &copy <a href="http://ylinux.org">YLinux.org</a> |
        <a href="/about">关于</a> |
        <a href="/contact">联系</a>
      </div>
      <!-- 结束 footer -->
      
    </div>
    <!-- 结束 container -->
    </body>
  </html>
