<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh" lang="zh">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link REL="SHORTCUT ICON" HREF="{{ MEDIA_URL }}images/favicon.ico">
    <link rel="stylesheet" href="{{ MEDIA_URL }}themes/{% if theme %}{{ theme }}{% else %}default{% endif %}/main.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}themes/{% if theme %}{{ theme }}{% else %}default{% endif %}/home.css" />
    {% block title %}{% if title %}<title>{{ title }} - YLinux.org</title>{% else %}<title>YLinux.org</title>{% endif %}{% endblock %}
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/wiki/topic/news/" />
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.6.2.min.js" ></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/ylinux.js" ></script>
  </head>

  <!-- body 用 container 包容，分4块： header,navigator,content,footer -->  
  <body>
    <div id="container">

      <div id="header">

        <div id="logo"><a href="/"><img src="{{ MEDIA_URL }}images/ylinux-logo.gif" alt="YLinux"/></a></div>
        <div id="welcome"><span>我们不只关注 GNU/Linux ！</span></div>

        <div class="right">

          <div id="tools">
            <form method="get" action="http://www.google.com/search" target="google_window">
              <input type="text" name="as_q" size="16" maxlength="255" value="" id="s"/>
              <input type="image" src="/ymedia/images/btn_search_box.gif" width="27" height="24" id="go" alt="Search" title="Search" />
              <!--<input type="submit" name="sa" value="搜索"/>-->
              <input name="as_sitesearch" value="ylinux.org" type="hidden"/>
              <input name="newwindow" value="1" type="hidden"/>
              <input name="complete" value="1" type="hidden"/>
              <input name="forid" value="zh-CN" type="hidden"/>
              <input type="hidden" name="num" value="10"/>
              <input name="btnG" value="Google+%E6%90%9C%E7%B4%A2&" type="hidden"/>
              <input name="as_ft" value="1" type="hidden"/>
              <input name="as_qdr" value="all" type="hidden"/>
              <input name="as_occt" value="any" type="hidden"/>
              <input name="as_dt" value="i" type="hidden"/>
            </form>
          </div>

          <div id="account">
            {% if user.is_authenticated %}
            欢迎回来，<a href="{% url account:show_user user.id %}"><b>{{ user }}</a></b>
            {% if user.is_staff %} | <a href="{% url admin:index %}">管理界面</a> | {% endif %}
            <span id="logout"><button type="button" onclick="javascript: ajax_logout()">退出</button></span>
            {% else %}
            <!--<a href="{% url account:login %}">登录</a> <a href="{% url account:register %}"><b>注册</b></a>-->
            <span id="login"><button type="button" onclick="javascript: ajax_create_login()">登录</button></span>
            <span id="register"><button type="button">注册</button></span>
            {% endif %}
          </div>

        </div>

        <div id="navigator">
          <span>
            <a href="/" title="YLinux.org 的主页">首页</a>
            <a href="/coding" title="此部分还在开发中 ...">新闻</a>
            <a href="/bbs" title="论坛交流">论坛</a>
            <a href="/blog" title="此部分还在开发中 ...">博客</a>
            <a href="/coding" title="此部分还在开发中 ...">项目</a>
            <a href="/wiki" title="综合知识之库">知识库</a>
          </span>
          <a href="/wiki/topic/news/"><img src="{{ MEDIA_URL }}images/feed.gif" alt="订阅最近动态"/></a>
        </div>

      </div>
      <!-- 结束 header -->



      <!-- 开始 content -->
      <div id="content">
      {% block content %}{% endblock %}
      </div>
      <!-- 结束 content -->

      <!-- 开始 footer -->
      <div id="footer">
        版权 &copy <a href="http://ylinux.org">YLinux.org</a> |
        <a href="/about">关于</a> |
        <a href="/contact">联系</a> |
      </div>
      <!-- 结束 footer -->
      
    </div>
    <!-- 结束 container -->
    </body>
  </html>
