{% extends "home/base.html" %}

{% block content %}

<h3>感谢您的关注</h3>

<p>正在开发中 ... ...</p>


<h3>期待您的参与</h3>

<p>目前社区使用 Django 开发，项目源码在 github 上，欢迎感兴趣的朋友一起参与进来！</p>
<p>Github 上的项目地址：<a href="http://github.com/jianlee/ylinux/tree/master" target="_blank">http://github.com/jianlee/ylinux/tree/master</a></p>
<pre>git clone git://github.com/jianlee/ylinux.git</pre>


<h5>我们的讨论组:</h5>
<p style="color:red">现在请使用 YLinux <a href="{% url wiki:index %}">知识库</a> 的功能。</p>
<!--<p style="color:red">现在请使用 YLinux <a href="{% url wiki:index %}">知识库</a> 的功能， Google Groups 会渐渐被弃置不用。</p>

<table border=0 style="background-color: #fff; padding: 5px;" cellspacing=0>
  <tr><td> <img src="https://groups.google.com/intl/en/images/logos/groups_logo_sm.gif" height=30 width=140 alt="Google Groups"> </td></tr>
  <tr><td><br/><b>加入 YLinux 讨论组 ： </b></td></tr>
  <form action="https://groups.google.com/group/ylinux?hl=zh-CN/boxsubscribe"><tr><td> 您的 Email : <input type=text name=email> <input type=submit name="sub" value="订阅"></td></tr></form>
  <tr><td><br/><a href="https://groups.google.com/group/ylinux?hl=zh-CN">先看看讨论组</a></td></tr>
</table>
-->

{% endblock %}
