{% extends "home/base.html" %}

{% block content %}
<script type="text/javascript">

    $(document).ready( function () {

        // 显示更新信息
        $("#show-update").load("{% url wiki:ajax_show_update %}", function () {
            $(this).addClass("list-catalog-done");
        });

    });

</script>

<span class="welcome-newuser">{% if new_register_user %}欢迎新用户：<a href="{% url account:show_user new_register_user.id %}">{{ new_register_user }}</a>{% endif %}</span>
<div class="intro">

<p>
  YLinux 社区研究中文计算机科学，不只是 GNU/Linux 。中文计算机科学应该是这样：“<span class="ylinux-goal">任何以中文为母语的人，都能够使用中文和计算机进行交流</span>”。始学之，未存则建之。
</p>

</div>


<div id="show-update">
</div>
{% endblock %}
