<!DOCTYPE html>
<html>
<title>节日快乐！</title>
<body>
  <p>阿哦， 出错了！ 是不是？</p>
  <ul>
    <li>你敲回车键太给力了！它抗议!!</li>
    <li>你点击鼠标太大力了！它抗议！！</li>
    <li>你把屏幕弄破了，代码出来了！它抗议！！</li>
    <li>它们都在抗议！！！</li>
  </ul>
  <p>想看以前的YLinux吗？<br>给你出个主意：<br>起身，<br>原地倒立10妙钟，<br>回到电脑前，<br>向下滚动鼠标滚轮 ....</p>
  <p>哦，你还可以用<br>这个搜索找找以前的<br>YLinux到哪里去了： <br><a href="http://www.google.cn/intl/zh-CN/landing/teleport/" target="_blank">谷歌穿越搜索</a></p>
  <img src="http://ylinux.org/ydata/attachment/2/download/" alt="" style="position: absolute; left: 50%; top: 50%; margin-left: -285px; margin-top: -190px;">
  <p style="color:green; margin-top:1000px;">愚人节快乐！ 哦，还想 YLinux 吗？ 点这里看看： <a href="/orig_index">旧约</a></p>
</body>
</html>

