{% extends 'me/home_base.html' %}

{% block content %}
{% if posts %}
<div id="posts-by-other">

  {% if page_list %}
  <div class="page_list">
    {% ifnotequal pre_page 0 %}
    <span class="pre_page"><a href="{% url me:posts_by_other_page owner_id pre_page %}">上一页</a></span>
    {% endifnotequal %}
    {% for n in page_list %}
    <span class="page_number{% ifequal cur_page n %} cur_number{% endifequal %}"><a href="{% url me:posts_by_other_page owner_id n %}">{{ n }}</a></span>
    {% endfor %}
    {% ifnotequal cur_page last_page %}
    <span class="next_page"><a href="{% url me:posts_by_other_page owner_id next_page %}">下一页</a></span>
    {% endifnotequal %}
  </div>
  {% endif %}

  {% for p in posts %}
  <div class="post-list box">
    <div class="post-header">
      <a href="{% url me:home p.user.id %}" target="_blank"><span class="user">{{ p.user }}</span></a> 于 <span class="time">{{ p.updated|date:"Y年m月d日 H:i" }}</span>
    </div>
    <div class="post-target">
      <strong>评论:</strong>
      {% if p.parent %}
      <span><a href="/wiki/topic/{{ p.topic.id }}#post{{ p.parent.id }}" target="_blank">{{ p.parent }}</a></span>
      {% else %}
      <span><a href="{% url wiki:show_topic p.topic.id %}" target="_blank">{{ p.topic }}</a></span><br />
      {% endif %}
    </div>
    <div class="post-body">
      <strong>说:</strong>
      <span><a href="/wiki/topic/{{ p.topic.id }}#post{{ p.id }}" target="_blank">{{ p }}</a></span>
    </div>
  </div>
  {% endfor %}

  {% if page_list %}
  <div class="page_list">
    {% ifnotequal pre_page 0 %}
    <span class="pre_page"><a href="{% url me:posts_by_other_page owner_id pre_page %}">上一页</a></span>
    {% endifnotequal %}
    {% for n in page_list %}
    <span class="page_number{% ifequal cur_page n %} cur_number{% endifequal %}"><a href="{% url me:posts_by_other_page owner_id n %}">{{ n }}</a></span>
    {% endfor %}
    {% ifnotequal cur_page last_page %}
    <span class="next_page"><a href="{% url me:posts_by_other_page owner_id next_page %}">下一页</a></span>
    {% endifnotequal %}
  </div>
  {% endif %}

</div>
{% else %}
<p>还没有评论. :)</p>
{% endif %}
</div>

<div class="clear-both"></div>
{% endblock %}
