/* Default style of YLinux (hettp://www.ylinux.org) */

/*body {
    margin: 50px,55px,20px,10px;
    padding: 2px,5px,2px,5px;
    background-color: #F0EBE2;
}
*/

html {
    /*background:none repeat scroll 0 0 #CCCCCC;*/
    /*background:none repeat scroll 0 0 #AFC6CE;*/
}

body {
    /*background-color: #F0EBE2;*/
    /*background-color: #DAE1E5;*/
    color:#000000;
    margin: 10px 20px 10px 20px;
    /*border: 1px solid white;*/
    /*margin-left: auto;
    margin-right: auto; 
    width: 930px;
    */
}

h1, h2, h3, h4, h5, h6 {
    color: #577793;
    border-width: thin medium thick 10px;
    display: inline;
}

h1 {
    font-size: 108%;
    font-style: italic;
    border-width: 2px;
}

h2 {
   font-size: 102%;
}

.atitle {
    border-bottom: 1px solid #DADADA;
    /*clear: both;*/
    /*color: #666666;*/
    font: 24px Georgia,"Times New Roman",Times,serif;
    margin: 5px 0 0 -4px;
    padding: 0 0 7px;
}

.asmalltitle {
    font: 18px Georgia,"Times New Roman",Times,serif;
    margin: 5px 0 0 -4px;
    padding: 0 0 7px;
}

a:link {color: blue}
a:visited {color: #9F4C09}
a:hover {color: green}
a:active {color: #0000FF}

.left {
    float:left;
}

.right {
    float:right;
}

#sitesearch {

}

#id_username {
    width: 80px;
}

#id_password {
    width: 80px;
}

#container {
    margin: 2px;10px;5px;10px;
    padding: 5px 10px 5px 10px;
}


#logo {
    height: 60px;
}

#logo img {
    border: 0 none;
}

#navigator {
    margin-top: 2px;
    height: 35px;
}

#navigator ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

#navigator li {
    float: left;
    margin: 0 0.15em;
}

#navigator li a {
    height: 2em;
    line-height: 2em;
    float: left;
    width: 6em;
    display: block;
    border: 0.1em solid #dcdce9;
    color: #0d2474;
    text-decoration: none;
    text-align: center;
}

#content {
    margin-top: 10px;
}

#footer {
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    bottom: 0;
    border: 0.1em solid #dcdce9;
    padding: 5px;
    text-align: center;
    list-style: none;
    background-color: #DAE1E5;
}

label
{
    width: 4em;
    float: left;
    text-align: right;
    margin-right: 0.5em;
    display: block;
}

.submit input
{
    margin-left: 4.5em;
}
.input form
{
    color: #781351;
    border: 0.1em solid #dcdce9;
}

.submit input
{
    color: #000;
    border: 0.1em solid #dcdce9;
}
fieldset
{
    border: 0.1em solid #dcdce9;
    width: 20em;
}

legend
{
    border: 0.1em solid #dcdce9;
    padding: 2px 6px;
}

textarea {
    height: 360px;
    color: #000;
    border: 0.1em solid #dcdce9;
}

pre {
    padding: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
    border: 0.1em solid #dcdce9;
    white-space: pre;
    font-family : Monospace, sans-serif;
    font-size: 95%;
    overflow: auto;
    max-height: 3in;
    color: black;
}

img {
    border: 0 none;
}

hr.HrWhite {
    color: white;
}

#header {
    margin-top: 2px;
    border: 1px solid #DDE4EB;
    /*height: 60px;*/
}

#header_nav {
    border-buttom: 1px solid #DDE4EB;
    padding: 0.5px 20px 0 20px;
    width: auto;
}

#header_welcome {
    height: 80px;
    padding: 5px 20px 0 20px;
    background-color: #517CA1;
}

#header_welcome a {
    color: white;
}

#header_account {
    width: auto;
    height: 30px;
    padding: 10px 20px 5px 20px;
    /*float: right;*/
    color: white;
    background-color: #313D47;
}

#header_account ul, #header_account li {
    margin: 0;
    padding: 0;
}
#header_account ul {
    float: right;
}
#header_account li {
    list-style-type: none;
    height: 28px;
    margin-left: 10px;
    float: left;
}
#header_account a {
    color: white;
}


.forum_list {
    margin-bottom: 20px;
}

.forum_header {
    background-color: #294F6E;
    color: white;
}

.catalog_header, .topic_header {
    clear: both;
    /*border: 1px solid #DDE4EB;*/
    background-color: #DFE6ED;
}

.catalog_title {
    clear: both;
    /*background-color: #294F6E;*/
    background-color: #DFE6ED;
}

.catalog_title, .catalog_list, .topic_list, .topic_body, .post_body {
    clear: both;
    border-left: 3px solid #DDE4EB;
    border-right: 3px solid #DDE4EB;
    border-bottom: 1px solid #DDE4EB;
}

.subcatalogs {
}


.catalog_title:after, .catalog_list:after, .catalog_header:after, .topic_list:after, .topic_header:after, .topic_body:after, .post_body:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/* Hides from IE-mac \*/
* html .topic_header {height: 1%;}
/* End hide from IE-mac */

.c41 {
    width: 20%;
}

.c42 {
    width: 50%;
    border-left: 1px solid #DDE4EB;
}

.c43 {
    width: 10%;
    border-left: 1px solid #DDE4EB;
}

.c44 {
    width: 10%;
    border-left: 1px solid #DDE4EB;
}

.c41, .c42, .c43, .c44 {
    float: left;
    height: 100%;
}

.tdc1 {
    padding-left: 20px;
    width: 16%;
    float: left;
}

.tdc2 {
    padding-left: 20px;
    border-left: 1px solid #DDE4EB;
    width: 78%;
    float: left;
}

#contents ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #DDE4EB;
    clear: both;
    float: right;
    padding: 5px 10px 5px 10px;
    margin: 5px 10px 5px 10px;
}

.the_title {
    color: #517CA1;
    font: 18px Georgia,"Times New Roman",Times,serif;
}


/* 解决 DIV 内部对象 float 后不能撑开的问题 */
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
/* End hide from IE-mac */