{% extends 'admin/base.html' %}
{% block content %}

<p>
  <a href="{% url admin:index %}">起点</a>
  | <a href="{% url admin:catalogs %}">目录</a>
  {% for id,name in parents %}
  | <a href="{% url admin:show_catalog id %}">{{ name }}</a>
  {% endfor %}
</p>

{% if catalog %}
<p>为 [<a href="{% url admin:show_catalog catalog.id %}">{{ catalog }}</a>] 新建子目录 ...<p>
{% else %}
<p>创建一个顶级目录 ...</p>
{% endif %}

<form action="" method="POST">
{{ form.as_p }}
<p><input type="submit" value="创建"></p>
</form>

{% endblock %}
