{% extends 'admin/base.html' %}

{% block content %}


<p><a href="{% url admin:index %}">起点</a> | Catalog </p>

<ul>
  {% for catalog in catalogs %}
  <li>
    <a href="{% url admin:show_catalog catalog.id %}">{{ catalog.name }}</a>
    {% if edit_catalog %}[<a href="{% url admin:edit_catalog catalog.id %}">编辑</a>] {% endif %}
    {% if delete_catalog %}[<a href="{% url admin:del_catalog catalog.id %}">删除</a>]{% endif %}
  </li>
  {% endfor %}
</ul>

{% if create_catalog %}
<p><a href="{% url admin:add_top_catalog %}">创建新 Catalog</a></p>
{% endif %}

{% endblock %}
