{% extends 'admin/base.html' %}

{% block content %}


<p><a href="{% url admin:index %}">起点</a> | 权限 </p>

<ul>
  {% for permission in permissions %}
  <li>
    <a href="{% url admin:show_permission permission.id %}">{{ permission }}</a>
    {% if edit_perm %} [<a href="{% url admin:edit_permission permission.id %}">编辑</a>] {% endif %}
    {% if delete_perm %} [<a href="{% url admin:del_permission permission.id %}">删除</a>] {% endif %}
  </li>
  {% endfor %}
</ul>

{% if create_perm %}
<p><a href="{% url admin:add_permission %}">创建权限</a></p>
{% endif %}


{% endblock %}
