{% extends 'admin/base.html' %}

{% block content %}

<p><a href="{% url admin:index %}">起点</a> | User </p>

<ul>
{% for u in users %}
    <li>
      <a href="{% url admin:show_user u.id %}">{{ u }}</a>
      {% if edit_user %}[<a href="{% url admin:edit_user u.id %}">编辑</a>]{% endif %}
      {% if delete_user %}[<a href="{% url admin:del_user u.id %}">删除</a>]{% endif %}
    </li>
{% endfor %}
</ul>

{% if create_user %}<p><a href="{% url admin:add_user %}">创建用户</a></p>{% endif %}

{% endblock %}
