/* Default style of YLinux (hettp://www.ylinux.org) */

body {
    /*
    -moz-border-radius: 11px 11px 11px 11px;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DFDFDF;
    */
    color: #333333;
    margin: 10px 20px 10px 20px;
    font-family: "Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
}


h1, h2, h3, h4, h5, h6 {
    border-width: thin medium thick 10px;
    display: inline;
}

.atitle {
    border-bottom: 1px solid #DADADA;
    /*clear: both;*/
    /*color: #666666;*/
    font: 24px Georgia,"Times New Roman",Times,serif;
    margin: 5px 0 0 -4px;
    padding: 0 0 7px;
}

.asmalltitle {
    font: 18px Georgia,"Times New Roman",Times,serif;
    margin: 5px 0 0 -4px;
    padding: 0 0 7px;
}


a:link {color: blue}
a:visited {color: #9F4C09} 
a:hover {color: green}
a:active {color: #0000FF}

.left {
    float:left;
}

.right {
    float:right;
}

#sitesearch {

}

#id_username {
    width: 80px;
}

#id_password {
    width: 80px;
}

#contents {
    float: right;
    margin: 10px 0px 15px 20px;
/*
    padding-right: 10px;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
*/
}

#contents ul {
    list-style: none;
    border: 1px solid #CCCCCC;
    padding: 10px;
}

#container {
    margin: 2px;10px;5px;10px;
    padding: 5px 10px 5px 10px;
}

#header {
    margin-top: 2px;
    /*height: 60px;*/
    padding-bottom: 5px;
    margin-bottom: 5px;
    /*border-bottom: 5px solid gray;*/
}

#header1 {
    height: 60px;
}

#logo {
    display: inline;
    width: 80px;
}

#logo img {
    border: 0 none;
}

#navigator {
    margin-top: 2px;
    font-size: 20px;
    float: right;
}

#navigator ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

#navigator li {
    float: left;
    margin: 0 0.15em;
}

#navigator li a {
    height: 2em;
    line-height: 2em;
    float: left;
    width: 6em;
    display: block;
    border: 0.1em solid #dcdce9;
    color: #0d2474;
    text-decoration: none;
    text-align: center;
}

#login {
    display: inline;
}

#tools {
    display: inline;
    /*float: right;*/
}

#tools form {
    display: inline;
}

#header hr {width: 95%; color: white; margin-top: 15px;}


#Stopic {
/*
    position: absolute;
    top: 150px;
    left: 0px;
*/
    float: left;
    margin: 5px;
    background: #FFF;
    /*border: 1px solid gray;*/
    voice-family: "\"}\"";
    voice-family:inherit;
    width: 45%;
}

#Spost {
/*
    position: absolute;
    top: 150px;
    left: 50%;
*/
    float: right;
    margin: 5px;
    background: #FFF;
    /*border: 1px solid gray;*/
    voice-family: "\"}\"";
    voice-family:inherit;
    width: 45%;
}


#footer {
    clear: both; /* 此属性定义了元素的哪边上不允许出现浮动元素: left,right,both,none */
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    bottom: 0;
    border: 0.1em solid #dcdce9;
    padding: 5px;
    text-align: center;
    list-style: none;
}

label
{
    width: 4em;
    float: left;
    text-align: right;
    margin-right: 0.5em;
    display: block;
}

.submit input
{
    margin-left: 4.5em;
}
.input form
{
    color: #781351;
    border: 0.1em solid #dcdce9;
}


.submit input
{
    color: #000;
    border: 0.1em solid #dcdce9;
}
fieldset
{
    border: 0.1em solid #dcdce9;
    width: 20em;
}

legend
{
    border: 0.1em solid #dcdce9;
    padding: 2px 6px;
}

textarea {
    height: 360px;
    color: #000;
    border: 0.1em solid #dcdce9;
}

pre {
    white-space: pre;
    font-family : Monospace, sans-serif;
    /*font-size: 95%;*/
    overflow: auto;
    /*max-height: 3in;*/
    color: black;
}

img {
    border: 0 none;
}

hr.HrWhite {
    color: white;
}


ul {
    /* list-style 简写属性在一个声明中设置所有的列表属性 */
    list-style: square inside url('/ymedia/images/eg_arrow.gif')
}

#toplink {
    border-top: 1px solid #CCCCCC;
    clear: both;
    height: 1%;
    padding: 5px;
    text-align: right;
}

strong {
    color: red;
}

#topic-header {
    border: 1px solid #CCCCCC;
    background-color: #EDEDED;
    padding-left: 10px;
    margin-buttom: 50px;
}

.topic-title {
    font-family: sans-serif;
    font-size:20px;
}

.topic-info {
    padding: 5px;
}

#newProgress {
    margin:10px 20px 10px 20px;
    padding:10px 20px 10px 20px;
    border-left: 1px solid #CCCCCC;
}

#newProgress .asmalltitle {
    color: red;
}