/* Start global style */
.error {
    color: red;
    font-size: 0.6em;
}
/* End global style */



/* Start header */
#logo {
    float: left;
}

#welcome {
    float: left;
}

#welcome span {
    color: #80A9B3;
    padding: 5px 10px 5px 30px;
    font-size: 1.6em;
}

.right {
    float: right;
}

#logo {
    text-align: right;
}


#tools form {
    float: right;
}
#tools form { 
    width: 201px; 
    height: 31px; 
    background: url(/ymedia/images/bg_search_box.gif); 
} 
#s { 
    float: left; 
    padding: 0; 
    margin: 6px 0 0 6px; 
    border: 0; 
    width: 159px; 
    background: none; 
    font-size: .8em; 
} 
#go { 
    float: right; 
    margin: 3px 4px 0 0; 
}


#account {
    float: right;
}

#account input {
    width: 80px;
}

.login-text {
    font-size: 0.5em;
    color: #80A9B3;
    margin: 5px 10px 5px 10px;
}

#navigator {
    clear: both;
    background: #DFE6ED;
    text-align: center;
}

#navigator a {
    margin: 5px 10px 5px 10px;
    padding: 5px 10px 5px 10px;
    font-size: 1.3em;
}

#navigator a:hover {
    background: #313D47;
    color: white;
}

/* End header */
