/* Start global style */
.error {
    color: red;
    font-size: 0.6em;
}
/* End global style */



/* Start header */
#logo {
    float: left;
}

#welcome {
    float: left;
}

#welcome span {
    color: #80A9B3;
    padding: 5px 10px 5px 30px;
    font-size: 1.6em;
}

.right {
    float: right;
}

#logo {
    text-align: right;
}


#tools form {
    float: right;
}
#tools form { 
    width: 201px; 
    height: 31px; 
    background: url(/ymedia/images/bg_search_box.gif); 
} 
#s { 
    float: left; 
    padding: 0; 
    margin: 6px 0 0 6px; 
    border: 0; 
    width: 159px; 
    background: none; 
    font-size: .8em; 
} 
#go { 
    float: right; 
    margin: 3px 4px 0 0; 
}


#account {
    float: right;
}

#account input {
    width: 80px;
}

.login-text {
    font-size: 0.5em;
    color: #80A9B3;
    margin: 5px 10px 5px 10px;
}

#navigator {
    clear: both;
    background: #DFE6ED;
    text-align: center;
}

#navigator a {
    margin: 5px 10px 5px 10px;
    padding: 5px 10px 5px 10px;
    font-size: 1.3em;
}

#navigator a:hover {
    background: #313D47;
    color: white;
}

/* End header */

.intro {
    /*background: #313D47;
    color: white;*/
    padding: 80px 100px 100px 100px;
    font-size: 1.1em;
}

.welcome-newuser {
    float: right;
}

.ylinux-goal {
    font-size: 1.2em;
    /*color: blue;*/
}

/* Start show-update */
#update-container {
    /*border: 2px solid #DFE6ED;*/
}

#newest-topic-container {
    width: 49%;
    height: 100%;
    /*padding: 5px;*/
    float: left;
    /*background: green;*/
    border-left: 1px solid #DFE6ED;
    border-right: 1px solid #DFE6ED;
}

#newest-post-container {
    width: 49%;
    height: 100%;
    /*padding: 5px;*/
    float: right;
    /*background: black;*/
    border-left: 1px solid #DFE6ED;
    border-right: 1px solid #DFE6ED;
}

#catalog-list {
    clear: both;
}


.newest-container-title {
    /*background: #CAE8EA;*/
    background: #EDF5FF;
    color: #608088;
    padding: 2px 10px 5px 10px;
    border-top: 1px solid #DFE6ED;
    border-bottom: 1px solid #DFE6ED;
}

.newtopic, .newpost {
    margin: 1px;
    border-bottom: 1px solid #DFE6ED;
    padding: 1px 10px 2px 10px;
    /*background: #EDF5FF;*/
}

.newtopic-title, .newpost-title {
    font-size: 1.1em;
}

.newtopic-info, .newpost-info {
    font-size: 0.6em;
    color: gray;
}
/* End show-update */