.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
/* End hide from IE-mac */

/**
 * Box is a class with a comfortable margin and padding set and some beautiful borders.
 * shared with all elements.
 */
.box {
    background-color: #FFFFFF;
    background-position: 50% 100%, 50% 50%;
    background-repeat: no-repeat;
    border: 1px solid #BDC6D7;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.1), 0 -2px rgba(99, 149, 185, 0.1) inset, 0 -5px 15px rgba(223, 239, 249, 0.8) inset;
    margin: 10px 10px;
}

a:link { color: blue; text-decoration: none; }
a:visited {color: #9F4C09} 
a:hover {color: green; text-decoration: underline;}
a:active {color: #0000FF}


h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.2em;
}

h5 {
    font-size: 1.0em;
}

h6 {
    font-size: 0.8em;
}

button {
    padding: 1px;
    color:#050;
    font: 84% 'trebuchet ms',helvetica,sans-serif;
    background-color:#fed;
    border: 1px dotted;
    border-color: #696 #363 #363 #696;
    filter:progid:DXImageTransform.Microsoft.Gradient
    (GradientType=0,StartColorStr='#ffffffff',EndColorStr='#ffeeddaa');
}



body {
    color: #333333;
    font-family: "Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
    margin: 0px;
}


#header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: #F1F1F1;
    margin: 0;
    border-bottom: 1px solid #DFE6ED;
    padding: 0 20px 0 20px;
}

#logo {
    float:left;
    margin: 0 10px 0 0;
    height: 2em;
}
#logo img {
    height: 2em;
    margin: 0;
    padding: 0;
}
#welcome {
    float:left;
    padding: 0 1em;
    margin:0;
    height: 2em;
}

#account {
    float: right;
    height: 2em;
}

#navigator {
    height: 2em;
    margin: 0 0 0 30px;
    float: left;
}

#navigator > a {
    float: left;
    padding: 5px;
    height: 1.5em;
}

#navigator > a:hover {
    background: #313D47;
    color: white;
}


#account input {
    width: 80px;
}


#tools {
    clear: both;
}

#tools form {
    float: right;
}
#tools form { 
    width: 201px; 
    height: 31px; 
    background: url(/ymedia/images/bg_search_box.gif); 
} 
#s { 
    float: left; 
    padding: 0; 
    margin: 6px 0 0 6px; 
    border: 0; 
    width: 159px; 
    background: none; 
    font-size: .8em; 
} 
#go { 
    float: right; 
    margin: 3px 4px 0 0; 
}


#footer {
    clear: both; /* 此属性定义了元素的哪边上不允许出现浮动元素: left,right,both,none */
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    bottom: 0;
    border: 0.1em solid #dcdce9;
    padding: 5px;
    text-align: center;
    list-style: none;
    background: #EDF5FF;
}

#main {
    margin: 30px 20px 10px 20px;
}

#me-side {
    float: left;
    width: 300px;
    margin: 20px 0 10px 0;
    padding-right: 10px;
    border-right: 1px solid #EDF5FF;
}

#me-main {
    /*float: left;*/
    margin-left: 320px; 
    padding: 20px 0 0 10px;
    /*width: auto;*/
}

.clear-both {
    clear: both;
}


.topic-list {
    /*border: 1px solid #336699;*/
    margin: 10px 0 0;
    padding: 4px 10px;
}

.topic-info {
    font-size: 0.9em;
}


.login-text {
    font-size: 0.5em;
    color: #80A9B3;
    margin: 5px 10px 5px 10px;
}


.owner-info {
    clear: both;
    /*border: 1px solid #EDF5FF;*/
    margin-bottom: 20px;
}

.owner-avatar {
    float:left;
    margin: 5px 10px 5px 5px;
    height: 3em;
}
.owner-avatar img {
    height: 3em;
    margin: 0;
    padding: 0;
}

.error {
    color: red;
}

.user {
    font-weight: bold;
    font-size: 1.1em;
}

.owner-name {
    font-size: 1.3em;
    /*border: 1px dotted green;*/
    /*background-color: #5A82B5;*/
}

.post-list {
    padding: 5px 10px 5px 10px;
}

.post-info {
    font-size: 0.8em;
}

.page_list {
    border: 1px solid #DFE6ED;
    background: #EDF5FF;
}
.page_list .pre_page:hover, .page_list .next_page:hover, .page_list .page_number:hover {
    background: #A2C1C6;
}

.page_number {
    padding: 2px 5px 2px 5px;
}

.cur_number {
    font-weight: bold;
    color: white;
    background-color: #5A82B5;
}