body {
    margin: 2px,10px,2px,10px;
    padding: 2px,5px,2px,5px;
    background-color: #F0EBE2;
}

a:link {color: blue}
a:visited {color: #9F4C09}
a:hover {color: green}
a:active {color: #0000FF}

.left {
    float:left;
}

.right {
    float:right;
}

#sitesearch {

}

#id_username {
    width: 80px;
}

#id_password {
    width: 80px;
}

#container {
    margin: 2px;10px;5px;10px;
}

#header {
    margin-top: 2px;
    height: 60px;
}

#logo {
    height: 60px;
}

#logo img {
    border: 0 none;
}

#navigator {
    margin-top: 2px;
    height: 35px;
}

#navigator ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

#navigator li {
    float: left;
    margin: 0 0.15em;
}

#navigator li a {
    height: 2em;
    line-height: 2em;
    float: left;
    width: 6em;
    display: block;
    border: 0.1em solid #dcdce9;
    color: #0d2474;
    text-decoration: none;
    text-align: center;
}

#content {
    margin-top: 10px;
}

#footer {
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    bottom: 0;
    border: 0.1em solid #dcdce9;
    padding: 5px;
    text-align: center;
    list-style: none;
}

label
{
    width: 4em;
    float: left;
    text-align: right;
    margin-right: 0.5em;
    display: block;
}

.submit input
{
    margin-left: 4.5em;
}
.input form
{
    color: #781351;
    border: 0.1em solid #dcdce9;
}

.submit input
{
    color: #000;
    border: 0.1em solid #dcdce9;
}
fieldset
{
    border: 0.1em solid #dcdce9;
    width: 20em;
}

legend
{
    border: 0.1em solid #dcdce9;
    padding: 2px 6px;
}

textarea {
/*    width: 250px;*/
    height: 360px;
/*    margin-left: 4.0em;*/
    color: #000;
    border: 0.1em solid #dcdce9;
}

pre {
    border: 0.1em solid #dcdce9;
    padding: 2px 6px;
    color: #000;
    background: #FFF;
}