/* Default style of YLinux (hettp://www.ylinux.org) */

/*
body {
    margin: 50px,55px,20px,10px;
    padding: 2px,5px,2px,5px;
    background-color: #F0EBE2;
}
*/
html {
    /*background:none repeat scroll 0 0 #CCCCCC;*/
    background:none repeat scroll 0 0 #AFC6CE;
}

body {
    /*background-color: #F0EBE2;*/
    background-color: #DAE1E5;
    color:#000000;
    margin: 10px 20px 10px 20px;
    /*border: 1px solid white;*/
    /*margin-left: auto;
    margin-right: auto; 
    width: 930px;
    */
}

h1, h2, h3, h4, h5, h6 {
    color: #577793;
    border-width: thin medium thick 10px;
    display: inline;
}

h1 {
    font-size: 108%;
    font-style: italic;
    border-width: 2px;
}

h2 {
   font-size: 102%;
}

a:link {color: blue}
a:visited {color: #9F4C09}
a:hover {color: green}
a:active {color: #0000FF}

.left {
    float:left;
}

.right {
    float:right;
}

#sitesearch {

}

#id_username {
    width: 80px;
}

#id_password {
    width: 80px;
}

#container {
    margin: 2px;10px;5px;10px;
    padding: 5px 10px 5px 10px;
}

#header {
    margin-top: 2px;
    height: 60px;
}

#logo {
    height: 60px;
}

#logo img {
    border: 0 none;
}

#navigator {
    margin-top: 2px;
    height: 35px;
}

#navigator ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

#navigator li {
    float: left;
    margin: 0 0.15em;
}

#navigator li a {
    height: 2em;
    line-height: 2em;
    float: left;
    width: 6em;
    display: block;
    border: 0.1em solid #dcdce9;
    color: #0d2474;
    text-decoration: none;
    text-align: center;
}

#content {
    margin-top: 10px;
}

#footer {
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    bottom: 0;
    border: 0.1em solid #dcdce9;
    padding: 5px;
    text-align: center;
    list-style: none;
}

label
{
    width: 4em;
    float: left;
    text-align: right;
    margin-right: 0.5em;
    display: block;
}

.submit input
{
    margin-left: 4.5em;
}
.input form
{
    color: #781351;
    border: 0.1em solid #dcdce9;
}

.submit input
{
    color: #000;
    border: 0.1em solid #dcdce9;
}
fieldset
{
    border: 0.1em solid #dcdce9;
    width: 20em;
}

legend
{
    border: 0.1em solid #dcdce9;
    padding: 2px 6px;
}

textarea {
    height: 360px;
    color: #000;
    border: 0.1em solid #dcdce9;
}

pre {
    padding: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
    border: 0.1em solid #dcdce9;
    white-space: pre;
    font-family : Monospace, sans-serif;
    font-size: 95%;
    overflow: auto;
    max-height: 3in;
    color: black;
}


/* 圆角边框 */
/*div#RoundAngle {margin: 0 10%; background: #9BD1FA}*/
/*div#RoundAngle {background: #9BD1FA}*/
body#RoundAngle {background: #DAE1E5}
b.rtop, b.rbottom {display:block;background: #AFC6CE}
b.rtop b, b.rbottom b{display:block;height: 1px; overflow: hidden; background: #DAE1E5}
b.r1{margin: 0 5px}
b.r2{margin: 0 3px}
b.r3{margin: 0 2px}
b.rtop b.r4, b.rbottom b.r4{margin: 0 1px;height: 2px}

hr.HrWhite {
    color: white;
}
