
#topic {
    margin-bottom: 20px;
}

.topic-navigator {
    /*background-color: lightblue;*/
    font-size: 1.2em;
}

.topic-header {
    /*padding: 0 5px 0 5px;*/
    margin-top: 10px;
}

.topic-title, .post-title {
    font-family:  Times, TimesNR, 'New Century Schoolbook', Georgia, 'New York', serif;
    font-size: 22px;
    padding: 5px 20px 5px 20px;
}

.topic-info, .post-info {
    padding: 5px 20px 5px 20px;
}

.topic-action {
    background-color: #ECF1F6;
    padding: 5px 20px 5px 20px;
}

/*
.topic-body {
    margin-top: 20px;
    padding: 10px 20px 10px 20px;
}
*/


#posts {
    margin: 20px, 0, 0, 15px;
    border-top: 3px solid #DFE6ED;
}

#post > p {
    color: blue;
}

.post-item {
    margin-top: 15px;
    margin-left: 15px;
    /*padding: 7px 0 7px 0;*/
    border: 1px solid #DFDFDF;
    -moz-box-shadow: 3px 3px 4px #DFDFDF;
    -webkit-box-shadow: 3px 3px 4px #DFDFDF;
    box-shadow: 3px 3px 4px #DFDFDF;
    background: #fff;
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4,Direction=135,Color='#DFDFDF');
}

/* 鼠标悬停效果 */
/*
.post-item:hover {
    border: 1px solid #CBCBCB;
    background: #f0f0f0;
}
*/

.post-header {
    border-bottom: 1px solid #DFDFDF;
    background: #EDF5FF;
}
.post-body {
    padding: 1px 0 1px 10px;
}

.time {
    color: green;
    font-family:  Times, TimesNR, 'New Century Schoolbook', Georgia, 'New York', serif;
    /*font-size: 18px;*/
}

.user {
    font-size: 1.3em;
    font-weight: 100;
}


.louzhu {
    border: 1px;
    margin-right: 10px;
    color: #7CA95A;
    font-size: 1.5em;
    font-weight: 100;
}


pre {
    border: 1px solid #DFDFDF;
    width: auto;
}

code {
}


.atitle {
    border-bottom: 1px solid #DADADA;
    /*clear: both;*/
    /*color: #666666;*/
    font: 24px Georgia,"Times New Roman",Times,serif;
    margin: 5px 0 0 -4px;
    padding: 0 0 7px;
}

.asmalltitle {
    font: 18px Georgia,"Times New Roman",Times,serif;
    margin: 5px 0 0 -4px;
    padding: 0 0 7px;
}

