
/* 未访问的链接 */
a:link {
    color: blue;
    text-decoration: none;
}


/* 已访问的链接 */
a:visited {
    color: #334922;
}


/* 当有鼠标悬停在链接上 */
a:hover {
    color: green;
    text-decoration: underline;
}


/* 被选择的链接 */
a:active {
    color: #0000FF;
}


.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
/* End hide from IE-mac */

#update-container {
    border: 2px solid #DFE6ED;
}

#newest-topic-container {
    width: 49%;
    height: 100%;
    /*padding: 5px;*/
    float: left;
    /*background: green;*/
    border-right: 1px solid #DFE6ED;
}

#newest-post-container {
    width: 49%;
    height: 100%;
    /*padding: 5px;*/
    float: right;
    /*background: black;*/
    border-left: 1px solid #DFE6ED;
}

#catalog-list {
    clear: both;
}


.newest-container-title {
    background: #CAE8EA;
    color: #608088;
    padding: 2px 10px 5px 10px;
}

.newtopic, .newpost {
    margin: 1px;
    border-bottom: 1px solid #DFE6ED;
    padding: 1px 10px 2px 10px;
    background: #EDF5FF;
}

.newtopic-title, .newpost-title {
    font-size: 1.1em;
}

.newtopic-info, .newpost-info {
    font-size: 0.6em;
    color: gray;
}

#catalog-list-container {
    margin-top: 20px;
    border: 2px solid #DFE6ED;
    clear: both;
}


.level-item {
    float: left;
    width: 30%;
}

#wiki-container {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 5px double #DFE6ED;
}

#wiki-container-catalog {
    width: 250px;
    height: 100%;
    /*padding: 5px;*/
    float: left;
    /*background: #DFE6ED;*/
    /*border: 3px double #DFE6ED;*/
    /*margin: 5px 15px 20px 0px;*/
}

#wiki-container-catalog ul {
    padding: 10px; /* 多级 ul 如何缩进？ */
}

#wiki-container-main {
    width: auto;
    height: 100%;
    padding: 5px 20px 10px 20px;
    /*float: right;*/
    margin-left: 255px;
    /*background: black;*/
    border-left: 2px solid #DFE6ED;
}

.list-catalog-done {
    color: red;
}

.have-subcatalog {
    color: red;
    border-left: 1px solid #DFE6ED;
}

#cmenu li {
    margin-top: 3px;
    border: 1px solid #DFE6ED;
    padding: 5px 15px 5px 15px;
    list-style-type: none;
    cursor: pointer;
}


.catalog-selected {
    background: #313D47;
    color: white;
}


#wiki-container-main-title {
    padding: 5px 15px 5px 15px;
    background: #CAE8EA;
    color: green;
    font-size: 1.2em;
}

#new-topic {
    font-size: 1.6em;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #DFE6ED;
    color: #6D929B;
}

caption {
  font-size: 1.2em;
  font-weight: bold;
  margin: 1em 0;
  color: green;
  text-align: left;
}

th {
    font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica,
    sans-serif;
    color: #6D929B;
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    border-top: 1px solid #C1DAD7;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left;
    padding: 6px 6px 6px 12px;
    /*background: #CAE8EA url(images/bg_header.jpg) no-repeat;*/
    background: #CAE8EA;
}


td {
    padding: 0.5em 1em 0.5em 1em;
    border-right: 1px solid #C1DAD7;
}

.tr-odd {
    background-color: #edf5ff;
}

tr:hover {
    background-color: #A9D2A8;
}

.user {
    font-size: 1.2em;
    color: gold;
}

.time {
    font-size: 0.8em;
    color: gray;
}

.newest-topic {
}

.newest-post {
    font-size: 0.6em;
}

