{% extends 'wiki/base.html' %}
{% block content %}

<h3>回复： {{ topic }}</h3>

<form action="" method="post">

  <p><label for="id_body">正文:</label> <textarea id="id_body" rows="20" cols="60" name="body"></textarea></p>
<p><label for="id_attachment">附件:</label> <input type="file" name="attachment" id="id_attachment" /><input type="hidden" name="name" id="id_name" /></p>

  <div class="submit">
    <p><input type="submit" value="发表回复" /><a href="javascript:history.go(-1)">返回</a></p>
  </div>

</form>


{% if posts %}
<h3>其他回复：</h3>
{% for p in posts %}
<p><a href="{% url account:show_user p.user.id %}">{{ p.user }}</a> 在 {{ p.updated }} 于 <a href="http://www.ip138.com/ips.asp?ip={{ p.user_ip }}&action=2">{{ p.user_ip }}</a></p>
<p>{{ p.body }}</p>
{% endfor %}
{% else %}
<p>目前还没有任何回复</p>
{% endif %}


{% endblock %}
