{% ifequal method "GET" %}
<textarea id="edit-post-body" rows="10" cols="60" name="body" class="bbcode">{{ post.body }}</textarea>
<button type="button" onclick="javascript: ajax_edit_post_submit(this, '{{ post.id }}')">提交</button>
{% endifequal %}

{% ifequal method "POST" %}
  <div class="post-header">
    <span class="louzhu"><a name="post{{ post.id }}">{{ post.id }}</a></span>
    <span class="user"><a href="{% url account:show_user post.user.id %}">{{ post.user }}</a></span>
    <span class="time">{{ post.updated|date:"Y年m月d日 H:i" }}</span>
    {% ifequal user post.user %}
    <!--[<span class="delete"><a href="{% url wiki:del_post post.id %}">删除</a></span>]-->
    <span class="post-edit"><button type="button" onclick="javascript: ajax_edit_post(this, '{{ post.id }}')">编辑</button></span>
    {% endifequal %}
    <span><button type="button" onclick="javascript: ajax_new_post(this, 'POST', '{{ post.id }}')">回复</button></span>
  </div>

  <div class="post-body">
    {{ post.body_html|safe }}
  </div>
{% endifequal %}
