{% extends 'wiki/base.html' %}

{% block extend_header %}
{% if theme %}
<link rel="stylesheet" href="{{ MEDIA_URL }}themes/{{ theme }}/wiki_index.css" />
{% else %}
<link rel="stylesheet" href="{{ MEDIA_URL }}themes/default/wiki_index.css" />
{% endif %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/ylinux_wiki.js" ></script>
{% endblock %}


{% block content %}

<script type="text/javascript">

    $(document).ready( function () {

        $("#cmenu > ul:not(:first)").hide();
        $("#cmenu > ul:first ul").hide();

        $("#cmenu li").click( function () {

            $(".catalog-selected").removeClass("catalog-selected");
            $(this).addClass("catalog-selected");

            $(this).next("ul").slideToggle("slow");

            return false;

        });

        // 显示更新信息
        $("#wiki-container-main").load("{% url wiki:ajax_show_update %}", function () {
            $(this).addClass("list-catalog-done");
        });

    });

</script>


<div id="wiki-container" class="clearfix">

  <div id="wiki-container-catalog" class="clearfix">
    {% if catalogs %}
    <ul id="cmenu">
      {% for l0 in catalogs %}
      <li class="catalog-link" class="catalog-level0" {% if l0.children %}class="have-subcatalog"{% endif %} onclick="ajax_list_catalog('{% url wiki:ajax_show_catalog l0.id %}')">{{ l0 }}</li>
      {% if l0.children %}
      <ul>
        {% for l1 in l0.children %}
        <li class="catalog-link" class="catalog-level1" {% if l1.children %}class="have-subcatalog"{% endif %} onclick="ajax_list_catalog('{% url wiki:ajax_show_catalog l1.id %}')">{{ l1 }}</li>
        {% if l1.children %}
        <ul>
          {% for l2 in l1.children %}
          <li class="catalog-link" class="catalog-level2" {% if l2.children %}class="have-subcatalog"{% endif %} onclick="ajax_list_catalog('{% url wiki:ajax_show_catalog l2.id %}')">{{ l2 }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        {% endfor %}
      </ul>
      {% endif %}
      {% endfor %}
    </ul>
    {% endif %}
  </div>

  <div id="wiki-container-main">
  </div>

</div>


{% endblock %}
