{% extends 'wiki/base.html' %}
{% block content %}

{% if catalogs %}
<div id="catalogs">
<h3>分类：</h3>
  {% for c in catalogs %}
    <div class="catalog"><span><a href="{% url wiki:show_catalog c.id %}">{{ c.name }}</a></span></div>
  {% endfor %}
</div>
{% else %}
  <p>WiKi 现在还没有内容. 请通过管理接口添加目录</p>
{% endif %}

{% if topics %}
<div id="topics">
<h3>最近主题：</h3>
  {% for t in topics %}
    <div class="topic">[<span><a href="{% url wiki:show_catalog t.catalog.id %}">{{ t.catalog }}</a></span>] <span><a href="{% url wiki:show_topic t.id %}">{{ t.name }}</a></span></div>
  {% endfor %}
</div>
{% endif %}

{% if posts %}
<div id="posts">
<h3>最近回复：</h3>
  {% for p in posts %}
    <div class="post"><span><a href="{% url wiki:show_topic p.topic.id %}">{{ p.topic }}</a></span> by <span><a href="{% url account:show_user p.user.id %}">{{ p.user }}</a></span></div>
  {% endfor %}
</div>
{% endif %}

{% endblock %}
