{% extends 'wiki/base.html' %}


{% block content %}

{% if category.id %}
  <p><a href="{% url wiki:index %}">开始</a> | {{ category.name }}</p>
  <ul>
  {% for catalog in catalogs %}
     <li><a href="{{ catalog.get_absolute_url }}">{{ catalog.name }}</a></li> 
  {% endfor %}
  </ul>
{% endif %}

{% if catalog.id %}
  <p><a href="{% url wiki:index %}">开始</a> | 
     <a href="{{ catalog.category.get_absolute_url }}">{{ catalog.category.name }}</a> | {{ catalog.name }}</p>
  <ul>
  {% for topic in topics %}
     <li><a href="{{ topic.get_absolute_url }}">{{ topic.name }}</a></li> 
  {% endfor %}
  </ul>

  <p><a href="{% url wiki:add_topic catalog.id %}">发表文章</a></p>
{% endif %}

{% if topic.id %}
  <p><a href="{% url wiki:index %}">开始</a> | 
     <a href="{{ topic.catalog.category.get_absolute_url }}">{{ topic.catalog.category.name }}</a> | 
     <a href="{{ topic.catalog.get_absolute_url }}">{{ topic.catalog.name }}</a></p> 
  <h3>{{ topic.name }}</h3>
  <ul>
  {% for post in posts %}
     <li>{{ post.body }}</li> 
  {% endfor %}
  </ul>
{% endif %}


{% endblock %}

{% block footer %}
	{% if topic.id %}
		<a href="edit/">编辑</a>
	{% else %}
		<a href="edit/">创建</a>
	{% endif %}
	|
{% endblock %}
