{% extends 'wiki/base.html' %}


{% block extend_header %}

{% if theme %}
<link rel="stylesheet" href="{{ MEDIA_URL }}themes/{{ theme }}/topic.css" />
{% else %}
<link rel="stylesheet" href="{{ MEDIA_URL }}themes/default/topic.css" />
{% endif %}


<script type="text/javascript" src="{{ MEDIA_URL }}js/syntaxhighlighter/scripts/shCore.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/syntaxhighlighter/scripts/shBrushJScript.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/syntaxhighlighter/scripts/shBrushCpp.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/syntaxhighlighter/scripts/shBrushBash.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/syntaxhighlighter/scripts/shBrushCss.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/syntaxhighlighter/scripts/shBrushPython.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/syntaxhighlighter/scripts/shBrushPerl.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/syntaxhighlighter/scripts/shBrushXml.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/syntaxhighlighter/scripts/shBrushSql.js"></script>
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}js/syntaxhighlighter/styles/shThemeDefault.css"/>
<script type="text/javascript">
  SyntaxHighlighter.config.tagName = 'code';
  SyntaxHighlighter.defaults['toolbar'] = false;
  SyntaxHighlighter.all();
</script>
{% endblock %}


{% block content %}

<p>
  <a href="{% url wiki:index %}">知识库</a>
  {% for id,name in parents %}
  | <a href="{% url wiki:show_catalog id %}">{{ name }}</a>
  {% endfor %}
</p>

<div id="topic">

  <div class="topic-header">
    <p class="topic-title">{{ topic }}</p>
    <p class="topic-info">
      <b>作   者：</b> <span class="user"><a href="{% url account:show_user topic.user.id %}">{{ topic.user }}</a></span>
      <br/>
      <b>发布时间：</b> <span class="time">{{ topic.created|date:"Y年m月d日 H:i" }}</span>
      <br/>
      <b>最近更新：</b> <span class="time">{{ topic.updated|date:"Y年m月d日 H:i" }}</span>
      <br/>
      <b>查看次数:</b> {{ topic.view_count }}
      <!--在 <a href="http://www.ip138.com/ips.asp?ip={{ topic.user_ip }}&action=2">{{ topic.user_ip }}</a>-->
    </p>

    <p class="topic-action">
      {% ifequal user topic.user %}<a href="{% url wiki:edit_topic topic.id %}">编辑</a> |{% endifequal %}
      <a href="{% url wiki:add_post topic.id %}">回复</a>
      {% ifequal user topic.user %}
      <!--[<a href="{% url wiki:del_topic topic.id %}">删除</a>]-->| 
      [<a href="{% url wiki:hidden_topic topic.id %}">隐藏</a>] 
      [<a href="{% url wiki:recycled_topic topic.id %}">移入回收站</a>]
      {% endifequal %}
    </p>

  </div>

  <div class="topic-body">
    {{ topic.body_html|safe }}
  </div>
</div>


{% if posts %}
<div id="post">
  <p>最新回复：</p>

  {% for index,post in posts %}
  <div class="post-item">
    <div class="post-header">
      <p>
        <span class="louzhu"><a name="post{{ post.id }}">{{ index }} 楼</a></span>
        <span class="user"><a href="{% url account:show_user post.user.id %}">{{ post.user }}</a></span>
        <span class="time">{{ post.updated|date:"Y年m月d日 H:i" }}</span>
        <!-- 于 <a href="http://www.ip138.com/ips.asp?ip={{ post.user_ip }}&action=2">{{ post.user_ip }}</a>-->
        {% ifequal user post.user %}
        [<span class="delete"><a href="{% url wiki:del_post post.id %}">删除</a></span>]
        {% endifequal %}
      </p>
    </div>
    <div class="post-body">
      <p>{{ post.body }}</p>
    </div>
  </div>
  {% endfor %}

</div>
{% endif %}

<p><a href="{% url wiki:add_post topic.id %}">我来说两句</a></p>

{% endblock %}
