{% extends "home/base.html" %}

{% block content %}

<p>抱歉，500错误！</p>
<p>您可以把出错的 url 发送给管理员： ylinux.admin@gmail.com 。我们会尽快解决！</p>
<h2>我们的讨论组:</h2>
<table border=0 style="background-color: #fff; padding: 5px;" cellspacing=0>
  <tr><td> <img src="https://groups.google.com/intl/en/images/logos/groups_logo_sm.gif" height=30 width=140 alt="Google Groups"> </td></tr>
  <tr><td><b>参加 YLinux 讨论组</b></td></tr>
  <form action="https://groups.google.com/group/ylinux?hl=zh-CN/boxsubscribe"><tr><td> 您的 Email : <input type=text name=email> <input type=submit name="sub" value="订阅"></td></tr></form>
  <tr><td><a href="https://groups.google.com/group/ylinux?hl=zh-CN">先看看讨论组</a></td></tr>
</table>
<p>任何问题和建议都可以在这里讨论</p>

{% endblock %}
