<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh" lang="zh">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="{{ MEDIA_URL }}bbs/themes/default/style.css" />
    {% block title %}{% if title %}<title>{{ title }} - YLinux.org</title>{% else %}<title>YLinux.org</title>{% endif %}{% endblock %}
    <!--
       <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/wiki/topic/news/" />
       <link rel="alternate" type="application/atom+xml" title="ATOM 1.0" href="/backend.php?atom" />
       -->
    <script type="text/javascript" src="{{ MEDIA_URL }}js/editor.js" ></script>
  </head>

  <!-- body 用 container 包容，分4块： header,navigator,content,footer -->  
  <body>
    <div id="container">
      <div id="nav">
        <p>
          <a href="/">首页</a> |
          <a href="/coding">新闻</a> |
          <a href="/bbs">论坛</a> |
          <a href="/blog">博客</a> |
          <a href="/coding">项目</a> |
          <a href="/wiki">知识库</a> |
          <a href="/wiki/topic/news/"><img src="{{ MEDIA_URL }}images/feed.gif" alt="订阅最近动态"/></a>
        </p>
      </div>
      <!-- 开始 header (分2块: logo,account) -->
      <div id="header">
        <div id="header_welcome">
          <p><a href="{% url bbs:index %}">YLinux 论坛系统</a></p>
        </div>
        <div id="header_account">
          <ul>
            {% if user.is_authenticated %}
            <li>欢迎您，<a href="{% url account:show_user user.id %}"><b>{{ user }}</a></b></li>
            {% if user.is_staff %}
            <li><a href="{% url admin:index %}">管理界面</a></li>
            {% endif %}
            <li><a href="{% url account:logout %}">退出</a></li>
            {% else %}
            <li><a href="{% url account:login %}">登录</a></li>
            <li><a href="{% url account:register %}">注册</a></li>
          {% endif %}
          </ul>
        </div>
      </div>
      <!-- 结束 header -->

      <!-- 开始 content -->
      <div id="content">
      {% block content %}{% endblock %}
      </div>
      <!-- 结束 content -->

      <!-- 开始 footer -->
      <div id="footer">
        版权 &copy <a href="http://ylinux.org">YLinux.org</a> |
        <a href="/about">关于</a> |
        <a href="/contact">联系</a> |
<script language="javascript" type="text/javascript" src="http://js.users.51.la/3151082.js"></script>
  <noscript><a href="http://www.51.la/?3151082" target="_blank"><img alt="51统计" src="http://ylinux.org/ylinux/media/default/ylinux/images/51.gif"/></a></noscript>
      </div>
      <!-- 结束 footer -->
      
    </div>
    <!-- 结束 container -->
    </body>
  </html>
