{% extends "bbs/base.html" %}

{% block content %}

{% if new_register_user %}<p>欢迎新用户：<a href="{% url account:show_user new_register_user.id %}">{{ new_register_user }}</a></p>{% endif %}

{% for c in catalogs %}
<div class="forum_list">
  <div class="forum_header"><span>{{ c }}</span></div>
  <div class="catalog_title">
    <div class="c41"><strong>子论坛</strong></div>
    <div class="c42"><strong>新帖</strong></div>
    <div class="c43"><strong>帖子</strong></div>
    <div class="c44"><strong>回复</strong></div>
  </div>
  {% for sc in c.children %}
  <div class="catalog_list">
    <div class="c41"><a href="{% url bbs:catalog sc.id %}">{{ sc }}</a></div>
    <div class="c42"><a href="{% url bbs:topic sc.last_topic.id %}">{{ sc.last_topic }}</a> by 
      <a href="{% url account:show_user sc.last_topic.user.id %}">{{sc.last_topic.user}}</a> </div>
    <div class="c43">{{ sc.topic_count }}</div>
    <div class="c44">{{ sc.post_count }}</div>
  </div>
  {% endfor %}
</div>
{% endfor %}

{% endblock %}
