{% extends "bbs/base.html" %}

{% block content %}

{% if new_register_user %}<p>欢迎新用户：<a href="{% url account:show_user new_register_user.id %}">{{ new_register_user }}</a></p>{% endif %}

{% if catalogs %}


<table colspan="2">
  <tr>
    <th>版面</th>
    <th>主题</th>
    <th>回复</th>
  </tr>
{% for c in catalogs %}
  <tr>
    <th>{{ c.name }}</th>
  </tr>
  {% for child in c.child.all %}
  <tr>
    <td><a href="{% url bbs:subforum child.id %}">{{ child.name }}</a></td>
    <td>主题：{{ child.topic_count }}</td>
    <td>回复：{{ child.posts }}</td>
  </tr>
  {% endfor %}
{% endfor %}
</table>


{% else %}
<p>管理员睡觉去了，还没有配置论坛。 ;-)</p>
{% endif %}

{% endblock %}
